.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  max-width: 900px;
}

.categories-cards .card {
  background-color: transparent;
  display: inline-block;
  width: 312px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-cards .card img {
  width: 80px;
  height: 80px;
}

.categories-cards .card a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: var(--titles-weight);
  font-size: 28px;
}

.categories-cards .card h3 {
    font-size: 28px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    flex-wrap: nowrap;
  }

  .categories-cards .card {
    width: 281px;
  }
}

@media screen and (min-width: 1400px) {
   .categories-cards {
     max-width: 1300px;
   }
}
