.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  max-width: 1440px;
}

.categories-cards .card {
  background-color: transparent;
}

.categories-cards .card img {
  width: 80px;
}

.categories-cards .card a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: var(--titles-weight);
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    flex-wrap: nowrap;
  }
}
