.destinations-items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.destinations-items .item {
  width: 312px;
}

.destinations-items .item header {
  display: inline-block;
  width: 100%;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destinations-items .item header .img-item {
  width: 100%;
  height: 360px;
}

.destinations-items .item header h4 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 25px 0;
}

.destinations-items .item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin: 16px 0;
}

.destinations-items .item footer a {
  color: var(--text-secondary-color);
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  width: 100%;
}

.tokyo {
  background: url("../img/tokyo-mobile.jpg") no-repeat center center;
  background-size: cover;
}

.osaka {
  background: url("../img/osaka-mobile.jpg") no-repeat center center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destinations-items .item {
    width: 648px;
    height: 718px;
  }

  .destinations-items .item header .img-item {
    height: 452px;
  }

  .destinations-items .item footer a {
    width: 280px;
  }

  .tokyo {
    background: url("../img/tokyo-tablet-desktop.jpg") no-repeat center center;
    background-size: cover;
  }

  .osaka {
    background: url("../img/osaka-tablet-desktop.jpg") no-repeat center center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .destinations-items .item {
    width: 800px;
    height: 750px;
  }
}

@media screen and (min-width: 1440px) {
    .destinations-items{
    flex-direction: row;
    flex-wrap: wrap;
    }

  .destinations-items .item {
    width: 588px;
  }
}
