@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #fff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

h1 {
  color: var(--text-primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--titles-weight);
  color: var(--primary-color);
}

.section-title {
  margin-bottom: 32px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  text-align: center;
  margin: 0;
}

.section-title hr {
  border: 0;
  height: 4px;
  width: 180px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  font-weight: var(--titles-weight);
  color: var(--text-secondary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 16px;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  section {
    width: 748px;
  }

  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 1024px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1400px) {
  section {
    width: 1400px;
  }
}
