header {
  width: 100%;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-tertiary-color);
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.navigation-menu ul {
  list-style: disc;
  padding: 15px 50px;
}

.navigation-menu li {
  list-style: none;
  margin: 16px 0;
}

.navigation-menu a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: var(--menu-text-weight);
}