.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center center;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  text-align: center;
  font-weight: var(--text-weight);
  line-height: 1.5em;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat center center;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat center center;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 200px;
  }
}
