.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat center center;
  background-size: cover;
}

.hero-img.hero-footer {
  background: url("../img/hero-footer-mobile.png") no-repeat center center;
  background-size: cover;
}

.hero-img.japan {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/japan-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 460px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  padding: 88px 24px;
  text-align: center;
  font-weight: var(--text-weight);
  line-height: 1.5em;
}

.hero .hero-content {
  width: 312px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .title-hero {
  color: var(--text-secondary-color);
  font-size: 48px;
  text-align: start;
  line-height: 60px;
  font-weight: var(--titles-weight);
  padding: 0;
}

.hero .hero-description {
  width: 100%;
  color: var(--text-secondary-color);
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}

.hero .hr-hero {
  margin: 10px 0 25px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat center center;
    background-size: cover;
  }

  .hero-img.hero-footer {
    background: url("../img/hero-footer-tablet.png") no-repeat center center;
    background-size: cover;
  }

  .hero .hero-content {
    width: 579px;
  }

  .hero .hero-description {
    font-size: 32px;
    line-height: 150%;
  }

  .hero h2 {
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat center center;
    background-size: cover;
  }

  .hero-img.hero-footer {
    background: url("../img/hero-footer-desktop.png") no-repeat center center;
    background-size: cover;
  }

  .hero-img.japan {
    align-items: flex-start;
    padding-left: 100px;
  }

  .hero h2 {
    padding: 88px 200px;
  }
}
