.payments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payments .payments-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payments .text-content {
  width: 312px;
}

.payments .image-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}

.payments .image-content .image.bag {
  background: url('../img/payments-bag-img-mobile.jpg') no-repeat;
  background-size: cover;
}

.payments .image-content .image.passport {
  background: url('../img/payments-passport-img-mobile.jpg') no-repeat;
  background-size: cover;
}

.payments .image-content .image.people {
  background: url('../img/payments-people-img-mobile.jpg') no-repeat;
  background-size: cover;
}

.payments  .image-content .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .text-content, .payments .image-content {
    width: 648px;
  }

  .payments .image-content .image {
    background-position: center;
  }

  .payments .image-content .image.bag {
    background: url('../img/payments-bag-img-tablet-desktop.jpg') no-repeat;
    background-size: cover;
  }

  .payments .image-content .image.passport {
    background: url('../img/payments-passport-img-tablet-desktop.jpg') no-repeat;
    background-size: cover;
  }

  .payments .image-content .image.people {
    background: url('../img/payments-people-img-tablet-desktop.jpg') no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .payments .text-content, .payments .image-content {
    width: 800px;
  }
}

@media screen and (min-width: 1400px) {
  .payments .payments-content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
  }

  .payments .text-content {
    width: 360px;
  }

  .payments .image-content {
    width: 790px;
  }
}
